.bloqueBuscador{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--grisClaro);
    z-index: 10;
}

.bloqueBuscador > h1{
    color: #fff;
    padding: 15px;
}

.bloqueBuscador > .barraBuscadorContainer{
    display: flex;
    gap: 10px;
    padding: 15px;
}

.bloqueBuscador > .barraBuscadorContainer > .barraBuscadorItem {
    display: flex;
    align-items: center;
    background-color: white;
    height: 40px;
    border-radius: 5px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
    width: 422px;
    
}
/*---ICONO UBICACION---*/
.bloqueBuscador > .barraBuscadorContainer > .barraBuscadorItem > svg{
    color: gray;
    height: 1.5em;
    width: 1.5em;
    margin: 0 5px;
}
/*---ICONO UBICACION---*/
.bloqueBuscador > .barraBuscadorContainer > .barraBuscadorItem > svg {
    color: gray;
    height: 1.5em;
    width: 1.5em;
    margin: 0 5px;
}

.bloqueBuscador > .barraBuscadorContainer > .barraBuscadorItem > .date{
    position: absolute;
    top: 90%;
    z-index: 10;
    border-radius: 2px;
    

}
.bloqueBuscador > .barraBuscadorContainer > .barraBuscadorItem > .buscador{
    width: 100%;
}
/*---SELECT---*/
.bloqueBuscador>.barraBuscadorContainer>.barraBuscadorItem>select {
    width: 100%;
    border: none;
    font-size: 1em;
    font-family: 'Quicksand';
    margin-right: 5px;
}

.bloqueBuscador > .barraBuscadorContainer > .barraBuscadorItem > .barraBuscadorInput {
    width: 100%;
    border:none;
    outline: none;
    color:gray;
}

.bloqueBuscador > .barraBuscadorContainer > a {
    width: 20%;
}

.bloqueBuscador > .barraBuscadorContainer > a > button {
    border:none;
    outline: none;
    background: var(--amarillo);
    color: #fff;
    cursor: pointer;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
    font-size: 1em;
    transition: 0.3s linear;
}

.bloqueBuscador > .barraBuscadorContainer > a > button:hover{
    transform: translateY(-3px);
   
    
}



/*---RESPONSIVE---*/
/*---RESPONSIVE TABLET---*/

@media (min-width:551px) and (max-width:700px){
    .bloqueBuscador > .barraBuscadorContainer > .barraBuscadorItem {
        display: flex;
        align-items: center;
        background-color: white;
        height: 40px;
        border-radius: 5px;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
        width: 222px;
    }
}

/*---RESPONSIVE MOBILE---*/

@media (max-width:550px){
    .bloqueBuscador > h1{
        font-size: 150%;
        padding: 10px 10px;
    }
    .bloqueBuscador > .barraBuscadorContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .bloqueBuscador > .barraBuscadorContainer > .barraBuscadorItem{
        width: 250%;
        margin-bottom: 10px;
    }

    .bloqueBuscador > .barraBuscadorContainer > .barraBuscadorItem > .date{
        top: 75%;
        width: 82%;
    }

    .bloqueBuscador > .barraBuscadorContainer > a {
        width: 250%;
    }

    .bloqueBuscador > .barraBuscadorContainer > a > button{
        height: 40px;
    }
}

