body{
    background: #F3F1ED;

}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 25%;
    margin-left: 34%;
    margin-bottom: 5%;
}

.container form {
   width: 100%;
   padding: 20px 20px;
   background: #F3F1ED;
   color: #000;
   font-family: 'Poppins';
   font-size: 12px;
}

.title{
    color: #FBC02D;
    font-family: 'Poppins';
    font-size: 20px;
    text-align: center;
    margin-top: 30%;
    margin-left: 15%;
  
}

.form input{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    font-weight: bold;

}

.submit{
    padding: 5px 70px;
    border-radius: 4%;
    margin-top: 30px;
    border: none;
    font-size: 14px;
    background: #FBC02D;
    color: #fff;
    cursor: pointer;
    outline: none;
    margin-left: 25%;
}

.footer_form{
    display: flex;
    justify-content: center;
    
}

.icon img{
   position: absolute;
   right: 0;
   top: 50%;
   transform: translateY(-50%);
}
.icon img:hover{
    cursor: pointer;

}

.passwordInput{
    position: relative;
}


.active{
    
    color:#2F73F1;
    text-decoration: none;
}

