body{
    background: #F3F1ED;

}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    height: 100vh;
}

.container > form {
   width: 100%;
   max-width: 50%;
   padding: 20px 20px;
   background: #F3F1ED;
   color: #000;
   font-family: 'Poppins';
   font-size: 12px;
}

.form > .error {
    color: red;
    font-family: 'Poppins';
    font-size: 15px;
    text-align: center;
    margin-top: 5%;
    margin-left: 5%; 
}


.container > .title{
    color: #FBC02D;
    font-family: 'Poppins';
    font-size: 20px;
    text-align: center;
}

.form input{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    font-weight: bold;

}
.form > button {
    display: flex;
    margin: 0 auto;
    border:none;
    outline: none;
    background: var(--amarillo);
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
    font-size: 1em;
    transition: 0.25s linear;
    padding: 10px 5em;
    box-shadow: 0px 3px 9px 1px rgba(0,0,0,0.37);
    -webkit-box-shadow: 0px 3px 9px 1px rgba(0,0,0,0.37);
    -moz-box-shadow: 0px 3px 9px 1px rgba(0,0,0,0.37);
    font-size: 1.1em;
    font-weight: 550;
}

.form > button:hover{
    transform: translateY(-3px);
}

.form > button:disabled{
    transition: none;
    transform: none;
    cursor: default;
    background-color: grey;
}
/* .submit{
    padding: 5px 70px;
    border-radius: 4%;
    margin-top: 30px;
    border: none;
    font-size: 14px;
    background: #FBC02D;
    color: #fff;
    cursor: pointer;
    outline: none;
    margin-left: 25%;
} */

.footer_form{
    display: flex;
    justify-content: center;
    
}

.icon img{
   position: absolute;
   right: 0;
   top: 50%;
   transform: translateY(-50%);
}
.icon img:hover{
    cursor: pointer;

}

.passwordInput{
    position: relative;
}


.footer_form > .active{
    
    color:#2F73F1;
    text-decoration: none;
}

