.ListCardsContainer{
    display: flex;
    justify-content: center;
    background-color: var(--grisFondo);
    
}
.ListCards{
    display: grid;
    grid-template-columns:50% 50%;
    grid-template-rows:180px 180px;
    grid-gap: 0em;
    column-gap: 0em;
    width: 1024px;
    
}

.tarjeta {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    margin: 10px 10px 10px 10px;
    padding: 2px 2px 2px 2px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    height: 170px;   
    width: 95%;
    background: #FFF;
    z-index: 1;

}

.tarjeta > .images > img {
    width: 52%;
    height: 97%;
    position: absolute;
    top: 2%;
    left: 0.5%;
    border-radius: 10px;   
}

.tarjeta > .infoCard {
    position: absolute;
    width: 40%;
    height: auto;
    left: 58%;
}

.tarjeta .infoCard > p {
    font-size: 0.7em;
    color: var(--grisClaro);
    letter-spacing: 1px;
    margin: 2px 2px 2px 2px;
    padding: 2px 2px 2px 2px;
}

.tarjeta .infoCard > h1 {
    font-size: 1.2em;
    color: var(--amarillo);
    margin-top: -5px;
    margin: 2px 2px 2px 2px;
    padding: 2px 2px 2px 2px;
}

.tarjeta .infoCard > h2 {
    font-size: 0.9em;
    color: var(--grisFuerte);
    margin-top: -5px;
    margin: 2px 2px 2px 2px;
    padding: 2px 2px 2px 2px;
    
}

.tarjeta .infoCard > .desc {
    text-transform: none;
    letter-spacing: 0;
    margin-bottom: 17px;
    color: var(--grisClaro);
    font-size: .7em;
    line-height: 1.6em;
    margin-right: 25px;
    text-align: justify;
    margin: 2px 2px 2px 2px;
    padding: 2px 2px 2px 2px;
}

.tarjeta .infoCard > a > .button {
    background: var(--amarillo);
    padding: 5px;
    display: inline-block;
    outline: 0;
    border: 0;
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #FFF;
    cursor: pointer;
    transform: translateY(1px);
	transition: 0.3s linear;
}

.tarjeta .infoCard > a >.button:hover{transform: translateY(-3px);}

/* -inicio intento estlos categorias- */
/* -.--------------------- */
.ListCategoryContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(214, 214, 214, 0.898);
    width: 100%;
}

.ListCategoryContainer > .TituloCategoria{
    display: block;
    font-size: 0.9em;
    font-weight: bold;
    color: var(--grisFuerte);
    margin-top: -5px;
    width: 100%;
    max-width: 1024px;
    margin-left: 15px;
    border: none;
    padding: 10px 5px;   
}

.TituloCategoria > h2 {
    margin-left: 15px;
}

.ListCategoryBlock{
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows:100%;
    grid-gap: 0em;
    column-gap: 0em;
    width: 100%;
    max-width: 1024px;
}

.tipoAlojamiento {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    margin: 10px 10px 10px 10px;
    padding: 2px 2px 2px 2px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    height: 200px;   
    width: 90%;
    background: #FFF;
    z-index: 1;   
}

.tipoAlojamiento:hover{
    cursor: pointer;
}

.tipoAlojamiento > .imagesTipoAlojamiento > img {
    width: 100%;
    height: 70%;
    position: absolute;
    border-radius: 10px;   
}

.tipoAlojamiento > .infoCategoria {
    position: absolute;
    width: 97%;
    height: auto;
    bottom: 0;
}

.tipoAlojamiento .infoCategoria > h2 {
    font-size: 0.9em;
    font-weight: bold;
    color: var(--grisFuerte);
    margin-top: -5px;
    margin: 2px 2px 2px 2px;
    padding: 2px 2px 2px 2px;    
}

.tipoAlojamiento .infoCategoria > p {
    font-size: 0.7em;
    color: var(--grisClaro);
    letter-spacing: 1px;
    margin: 2px 2px 2px 2px;
    padding: 2px 2px 2px 2px;
}

.tipoAlojamiento .infoCategoria > .descrip {
    text-transform: none;
    letter-spacing: 0;
    margin-bottom: 17px;
    color: var(--grisClaro);
    font-size: .7em;
    line-height: 1.6em;
    margin-right: 25px;
    text-align: justify;
    margin: 2px 2px 2px 2px;
    padding: 2px 2px 2px 2px;
}

/* -- Activar la categorias ---*/
.tipoAlojamientoActivo {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    margin: 10px 10px 10px 10px;
    padding: 2px 2px 2px 2px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    height: 200px;   
    width: 90%;
    background:var(--grisClaro);
    z-index: 1;  
}

.tipoAlojamientoActivo:hover{
    cursor: pointer;
}

.tipoAlojamientoActivo > .imagesTipoAlojamiento > img {
    width: 100%;
    height: 70%;
    position: absolute;
    border-radius: 10px;   
}

.tipoAlojamientoActivo > .infoCategoria {
    position: absolute;
    width: 97%;
    height: auto;
    bottom: 0;
}

.tipoAlojamientoActivo .infoCategoria > h2 {
    font-size: 0.9em;
    font-weight: bold;
    color: white;
    margin-top: -5px;
    margin: 2px 2px 2px 2px;
    padding: 2px 2px 2px 2px;    
}

.tipoAlojamientoActivo .infoCategoria > p {
    font-size: 0.7em;
    color: var(--grisClaro);
    letter-spacing: 1px;
    margin: 2px 2px 2px 2px;
    padding: 2px 2px 2px 2px;
}

.tipoAlojamientoActivo .infoCategoria > .descrip {
    text-transform: none;
    letter-spacing: 0;
    margin-bottom: 17px;
    color: white;
    font-size: .7em;
    line-height: 1.6em;
    margin-right: 25px;
    text-align: justify;
    margin: 2px 2px 2px 2px;
    padding: 2px 2px 2px 2px;
}
/* -- Final Activar la categorias ---*/
/* -- Final intento estilos para categorias ---*/


/*---RESPONSIVE---*/
/*---RESPONSIVE TABLET---*/
@media (min-width:551px) and (max-width:700px){
    .ListCards{
        display: grid;
        grid-template-columns:100%;
        grid-template-rows:180px 180px;
        
    }

    .ListCategoryBlock{
        display: grid;
        grid-template-columns:repeat(2, 2fr);
        grid-template-rows:repeat(2, 2fr);
        width: 100%;
        
    }
    
}


/*---RESPONSIVE MOBILE---*/

@media (max-width:550px){

    .ListCards{
        display: grid;
        grid-template-columns:100%;
        grid-template-rows:180px 180px;
        
    }

    .ListCategoryBlock{
        display: flex;
        flex-direction: column;

    }

    .tipoAlojamiento{
        height: 400px;
        width: 95%;

    }

    
}