.alojamiento{
    width: 100%;
}

/*---HEADER---*/
.alojamiento__header{
    display: flex;
    justify-content: center;
    background-color: var(--grisClaro);
}

.header__container {
    width: 100%;
    height: 93px;
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__container > .info {
    margin-left: 15px;
    padding: 10px 5px;
    color: #FFF;
}

.header__container > .info > h1 {
    font-size: 1.5em;
}

.header__container > .info > p {
    font-size: 0.9em;
}


.header__container > a > .backButton{
    margin-right: 15px;
    padding: 10px 5px;
    width: 50px;
    height: 50px;
    color: white;
    cursor: pointer;
}
.header__container > a > .backButton:hover{
    color: var(--amarillo);
    width: 51px;
    height: 51px;
}

/*---BLOQUE UBICACION---*/
.alojamiento__ubicacion{
    display: flex;
    justify-content: center;
    background-color: rgb(238, 238, 238);
}

.ubicacion__container{
    width: 100%;
    height: 93px;
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ubicacion__container > .ciudad{
    margin-left: 15px;
    padding: 10px 5px;
    color: var(--grisClaro);
}

.ubicacion__container > .ciudad > p > svg {
    height: 1.5em;
    width: 1.5em;
    margin: 0 5px;
}

.ubicacion__container > .puntuacion{
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(2, 1fr);
    margin-right: 15px;
    padding: 10px 5px;
    color: var(--grisClaro);
}

.ubicacion__container > .puntuacion > span > i{
    color: var(--amarillo);
}

.ubicacion__container > .puntuacion > .rate{
    grid-row: 1 / 3;
    grid-column: 2;
    
    background-color: var(--grisClaro);
    width: 3.2em;
    height: 3.2em;
    align-self: center;
    justify-self: center;
    color: #FFF;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ubicacion__container > .puntuacion > .rate > p {
    font-size: 1.5em;
    font-weight: 900;
}

/*---BLOQUE IMAGENES---*/
.alojamiento__imagenes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagenes__botones{
    width: 100%;
    max-width: 1440px;
}

.imagenes__botones > .share ,.like {
    width: 3.4%;
    height: 3.4%;
    color: var(--grisClaro);
    cursor: pointer;
    margin-left: 15px;
    padding: 10px 5px;
    
}

.imagenes__botones > .share:hover{
    transform: scale(1.1, 1.1);
}

.imagenes__botones > .like:hover {
    color: red;
    transform: scale(1.1, 1.1);
    
}

.imagenes__container {
    width: 100%;
    max-width: 1440px;
    margin: 0 15px;
}

/*---BLOQUE IMAGENES, VER MAS---*/
.imagenes__imagen-secundaria > p {
    /*position: fixed;*/
    color: #FFF;
    cursor: pointer;
    font-size: 1.2em;
    position: absolute;
    right: 0;
    bottom: 0;
    font-weight: 600;
}

.imagenes__imagen-secundaria > p:hover{
    text-decoration: underline;
}
/*---BLOQUE IMAGENES, IMAGENES EN GRILLA---*/
.imagenes__imagen-secundaria{
    display: grid;
    /*grid-template-columns: repeat(4, 25%);
    */
    grid-template-columns: 50% 25% 25%;
    grid-gap: 10px;
    grid-template-rows: 250px 250px;
    position: relative;

}
 
.imagenes__imagen-secundaria > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2%;

}

.imagenes__imagen-secundaria > .imagen0 {
    /*grid-column: 1/3;
    */
    grid-row: 1 / 3;

}

.imagenes__imagen-secundaria > .imagen3{
    grid-column-start: 2
}

/*---BLOQUE IMAGENES-RES---*/
.alojamiento__imagenes-res{
    display: none;
}
/*---BLOQUE DESCRIPCION---*/
.alojamiento__descripcion {
    display: flex;
    justify-content: center;
}

.descripcion__container{
    width: 100%;
    max-width: 1440px;
    margin-left: 15px;
    padding: 10px 5px;
}
.descripcion__container > h1 {
    color: var(--grisFuerte);
    font-size: 1.5em;
}
.descripcion__container > p {
    color: var(--grisClaro);
}

/*---BLOQUE CARACTERISTICAS--*/
.alojamiento__caracteristicas{
    display: flex;
    justify-content: center;
}

.caracteristicas__container{
    width: 100%;
    max-width: 1440px;
    margin-left: 15px;
    padding: 10px 5px;
}

.caracteristicas__container > h1 {
    font-size: 1.5em;
    color: var(--grisFuerte);
}

.caracteristicas__barra {
    height: 2px;
    width: 100%;
    background-color: var(--amarillo);
}

.caracteristicas__atributos{
    margin: 0 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.caracteristicas__atributos > p  {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-right: 5px;
    
    width: 1.1em;
    height: 1.1em;
}

.caracteristicas__atributos > p > i{
    color: var(--amarillo);
}
/*---BLOQUE FECHAS RESERVA---*/
.alojamiento__fechasReserva{
    display: flex;
    justify-content: center;
    background-color: var(--grisFondo);
}

.fechasReserva__container{
    width: 100%;
    max-width: 1440px;
    margin-left: 15px;
    padding: 10px 5px;
    
}
.fechasReserva__container > h1 {
    font-size: 1.5em;
    color: var(--grisFuerte);
}
/*---CALENDARIO---*/
.fechasReserva__container > div {
    display: flex;
    align-items: center;
}
.calendario {
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    background-color: #FFF;
}

.calendario > .rdrCalendarWrapper, 
.calendario > .rdrDateRangeWrapper, 
.calendario > .date{
   width: 100%;
}

.calendario > div > .rdrMonthAndYearWrapper {
    padding: 0;
}


.fechasReserva__reserva{
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    border-radius: 6px;
    margin: 15px;
    width: 50%;
    height: 50%;
}
.fechasReserva__reserva > p{
    margin: 15px;
}

.fechasReserva__reserva > a {
    margin: 15px;
}
.fechasReserva__reserva > a > button {
    border:none;
    outline: none;
    background: var(--amarillo);
    color: #fff;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
    font-size: 1em;
    padding: 7px 0px;
    transition: 0.3s linear;
}

.fechasReserva__reserva > a > button:hover{
    transform: translateY(-3px);
}


/*---BLOQUE POLITICAS---*/
.alojamiento__politicas {
    display: flex;
    justify-content: center;
}

.politicas__container{
    width: 100%;
    max-width: 1440px;
    margin-left: 15px;
    padding: 10px 5px;
}

.politicas__container > h1 {
    font-size: 1.5em;
    color: var(--grisFuerte);
}

.normas__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.normas__container > div > h1 {
    font-size: 1.2em;
    color: var(--grisFuerte);
}

.normas__container > div > p {
    color: var(--grisFuerte);
    font-size: 0.9em;
}

/*---RESPONSIVE---*/
/*---RESPONSIVE TABLET---*/
@media (min-width:551px) and (max-width:768px){
    /*---BLOQUE CARACTERISTICAS--*/
    .caracteristicas__atributos{
        grid-template-columns: repeat(2, 1fr);
    }

    /*---BLOQUE POLITICAS---*/
    .normas__container {
        grid-template-columns: repeat(2, 1fr);
    }

    .fechasReserva__container > div{
        flex-direction: column;
    }

    .calendario{
        width: 100%;
    }
    
    
    .calendario > .rdrCalendarWrapper, 
    .calendario > .rdrDateRangeWrapper, 
    .calendario > .date{
       width: 100%;
    }

    .calendario > div > div > .rdrMonth{
        width: 100%;
    }

     /*---BOTON INICIAR RESERVA---*/
     .fechasReserva__reserva{
        display: flex;
        flex-direction: column;
        padding: 0 10px;
        margin: 15px 0;
        width: 100%;
    }

    .fechasReserva__reserva > p{
        margin: 15px 0;
    }

    .fechasReserva__reserva > a{
        margin: 15px 0;
    }

}
/*---RESPONSIVE MOBILE---*/
@media (max-width:550px){
    /*---BLOQUE CARACTERISTICAS--*/
    .caracteristicas__atributos{
        grid-template-columns: repeat(1, 1fr);
    }
    /*---BLOQUE FECHAS RESERVA---*/ 
    .fechasReserva__container{
        margin: 0 15px;
    }
    /*---CALENDARIO---*/
    .fechasReserva__container > div {
        flex-direction: column;
    }
    .calendario{
        width: 100%;
    }
    
    
    .calendario > .rdrCalendarWrapper, 
    .calendario > .rdrDateRangeWrapper, 
    .calendario > .date{
       width: 100%;
    }

    .calendario > div > div > .rdrMonth{
        width: 100%;
    }
    /*---BOTON INICIAR RESERVA---*/
    .fechasReserva__reserva{
        display: flex;
        flex-direction: column;
        padding: 0 10px;
        margin: 15px 0;
        width: 100%;
    }

    .fechasReserva__reserva > p{
        margin: 15px 0;
    }

    .fechasReserva__reserva > a{
        margin: 15px 0;
    }
    .alojamiento__imagenes{
        display: none;
    }
    /*---BLOQUE IMAGENES-RES---*/
    .alojamiento__imagenes-res{
        display:block;
        position: relative;
    }

    .imagenes-res__botones{
        position: absolute;
        z-index: 10;
    }
    .imagenes-res__botones > .share, .like {
        cursor: pointer;
        color: #FFF;
        margin-left: 15px;
        padding: 10px 5px;
        width: 2em;
        height: 2em;   
    }

    .imagenes-res__botones > .share:active{
        transform: scale(1.1, 1.1);
    }

    .imagenes-res__botones > .like:active{
        color: red;
        transform: scale(1.1, 1.1);
    }
    .slick-slide > div > div{
        height: 50px;
        width: 50px;
    }

    .slick-slide > div > div > img{
        object-fit: cover;
        max-height:400px;
        height: 400px;
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .slick-list {
        height: 400px;
        overflow: hidden;
    }
    
    /*---BLOQUE POLITICAS---*/
    .normas__container {
        grid-template-columns: repeat(1, 1fr);
    }
}