.footer{
    background-color: #FBC02D;
    display: flex;
    justify-content: center;
    height: 50px;
    z-index: 10;
    /* position: fixed; */
    /* bottom: 0; */
    width: 100%;
}

.footerContainer{
    width: 100%;
    max-width: 1024px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logos{
    margin-left: 1rem;
    font-size: bolder;
    color: #FFF;
}

.redes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1rem;
    gap: 10px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
.redes > a > svg {
    color: #FFF;
    height: 1.5em;
    width: 1.5em;
}
.redes > a > svg:hover{
    transform: scale(1.1, 1.1);
    color: var(--grisClaro);
}

/*---mobile---*/
/*---RESPONSIVE MOBILE---*/

@media (max-width:550px) {
    .redes{
        display: none;
    }
}
