@import url('https://fonts.googleapis.com/css?family=Quicksand');

:root{
    --amarillo: #FBC02D;
    --amarilloHover: #fbc12dcf;
    --grisFuerte: #263238;
    --grisClaro:#607D8B;
    --beige:#FFFBE2;
    --grisFondo: rgba(214, 214, 214, 0.898);
    font-family: Quicksand;
    background: transparent;
    --minT: 551px;
    --maxT: 768px;
    --maxM: 992px;
    --xl: 1200px;
}

body{
    margin: 0px;
}
